@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .nisse {
        color: black;
    }
    .product {
        color: black
    }
</style>
<div class="box well"></div>
<div id="productcount"></div>
<div id="productcount"></div>
<div id="filename"></div>
<input type="button" id="btnGet" value="Get XML" />
<button id="button">to json</button>
<button id="postjson">post json to controller</button>
<button id="clearButton">Clear</button>
<button id="saveCurrentJson">Save Current JSON-TREE</button>
<button id="allAddedItems">Get all added items</button>
<input type="text" id="myInput" data-myValue="@ViewBag.masterlist" />
<div id="addedItemsList"></div>
<text id="icamasterlist">@ViewBag.masterlist</text>
<style type="text/css">
   
</style>

@*@using (Html.BeginForm("uploadXml", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="xmlfile" id="xmlfile" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}*@
<input id="fileupload" type="file" name="files[]" data-url="Home/uploadXml/" multiple>

@*<!-- The global progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>*@

<div class="home-demo">

    <h2>Demo</h2>

    <div class="home-dnd">
        <div class="listcat list" id="categorylist">
            <span class="nisse">Produkter</span>
            <!--<div class="home-dnd-item">Senap 250g</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Snus</div>
            <div class="home-dnd-item">Prästost</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Mjölk Mellan</div>
            <div class="home-dnd-item">Snus</div>
            <div class="home-dnd-item">Snus</div>
            <div class="home-dnd-item">Snus</div>-->

        </div>
        <div class="list" id="cat-mejeri">
            <span class="nisse">Mejeri</span>

        </div>
        <div class="list" id="cat-ost">
            <span class="nisse">Ost</span>

        </div>
        <div class="list" id="cat-kalla_drycker">
            <span class="nisse">Kalla drycker</span>

        </div>
        <div class="list" id="cat-snacks">
            <span class="nisse">Snacks</span>

        </div>
        <div class="list" id="cat-mejeri">
            <span class="nisse">Torra kakor, kex, skorpor, hårt bröd</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Torra kakor, kex, skorpor, hårt bröd</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Färskt Matbröd, mjukt kaffebröd</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Chark, kött, fågel och deli</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Kylda vegetariska produkter</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Kyld färdigmat & måltidskomp</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Ur havet</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse"> Konfektyr</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Glass</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Djupfryst</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Flingor, müsli, gryn</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Varma drycker med tillbehör</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Konserver, Soppor</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">All världens mat</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Smaksättning</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Pasta, ris, mos</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Bak & sötningsprodukter</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Matöverkänslighet</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse"> Barn, baby</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Djur</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Hälsa</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Hårvård</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Kroppsvård, ansiktsvård, rakning, toalettartiklar</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Make up</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Munvård, intimhygien</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Tvätt, rengöring, disk</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Papper</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Tobak</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Förbrukningsartiklar</span>

        </div>
        <div class="list" id="cat_ost">
            <span class="nisse">Receptfria läkemedel</span>

        </div>
    </div>


</div>
@section Scripts {
    <script type="text/javascript">

        $(function () {

            // GET ALL ADDED ITEMS START
            $('#allAddedItems').click(function (i, o) {
                //$(document).children().filter(function () {
                //    var changed = $(this).attr('data-added', 1);
                //});


                var items = $('[data-added="1"]');

                //$('[data-added], 1');
                items.each(function (i, item) {
                    $('#addedItemsList').append('<li>' + item.innerText + '</li>');
                });

            })


            // GET ALL ADDED ITEMS END
            var icamasterlist = $("#icamasterlist").text();
            var obj = JSON.parse(icamasterlist);
            $.each(obj, function (i, o) {
                var x = o.childs;
            })
            // sort ever item according to mastelist

            var productCounter = 0;
            var json;
            //alert('nisse');
            //
            // Clear all
            $('#clearButton').click(function () {

                $('#categorylist').empty();
            });

            $("#btnGet").click(function () {
                $('.box').jmspinner('large');
                $.ajax({
                    type: "GET",
                    url: "/Home/getXmlData",
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (response) {
                        $(response).find('transactions').each(function () {
                            var nisse = 0;
                            productCounter++;
                            var itemDesc = $(this).find('itemDesc').text();
                            //$("#temp").append('<li>' + $(this).text() + '</li>');
                            if (itemDesc) {
                                $('.listcat').append('<div class="home-dnd-item">' + itemDesc + '</div>');
                            }

                        });

                        $('#productcount').text('Antal produkter: ' + productCounter);
                        // DRAGGABLE START
                        var $ph, axisY;

                        $('.home-dnd-item').hqyDraggable({
                            proxy: 'clone',
                            onStartDrag: function (event, target) {

                                $(target).width($(this).width());

                                $ph = $(this).clone();
                                $ph.addClass('op2');
                                $(this).hide().before($ph);
                            },
                            onStopDrag: function () {
                                $ph.after(this);
                                $ph.remove();
                                $ph = null;
                                $(this).show();
                            }
                        });

                        $('.home-dnd-item').hqyDroppable({
                            onDragEnter: function () {
                                axisY = 0;
                            },
                            onDragOver: function (event, target) {
                                if (event.data.top > axisY) {
                                    $(this).after($ph);
                                } else {
                                    $(this).before($ph);
                                }

                                axisY = event.data.top;
                            }
                        });
                        //$('.list').hqyDroppable({

                        //    onDrop: function (event, target) {
                        //        var x = 1;
                        //        console.log('onStartDrag');
                        //    },
                        //    onDragEnter: function (event, target) {
                        //        var y = 1;
                        //        console.log('onStartDrag');
                        //    }



                        //});
                        $('.home-dnd .list').hqyDroppable({
                            onDragEnter: function (event, target) {

                                var $filter = $(this).find('.home-dnd-item:visible').filter(function () {
                                    return this !== target;
                                });

                                if ($filter.length <= 0) {
                                    $(this).append($ph);
                                }
                            },
                            onDrop: function (event, target) {
                                //console.log('Moved ' + target.innerText + ' to ' + this.id);

                                var currentList = $(this);
                                // loop alla produkter i catlist för att hitta element med samma innerText och flytta dom till denna kategori
                                $(target.parentElement).children('.home-dnd-item').each(function (i, o) {
                                    //console.log(o.innerText);
                                    if (o.innerText === target.innerText) {
                                        var elem = $(o);
                                        currentList.append(elem);
                                        //alert('hittad' + target.innerText);
                                    }
                                })

                                // loop alla produkter i catlist för att hitta element med samma innerText och flytta dom till denna kategori
                                //t.parentElement('.home-dnd-item').each(function (i,o) {

                                //    if (this.innerText === target.innerText) {
                                //        alert('hittad' + target.innerText);
                                //    }
                                //})
                            }
                        });
                        // stop spinner

                        $('.box').jmspinner(false);
                        // DRAGGABLE END
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });
            // TO JSON START
            var arr = new Array();

            $("#saveCurrentJson").click(function () {
                arr = [];
                // foreach categorylist
                $('.list:not(.listcat)').each(function (index, obj) {

                    

                    var newItem = new Object();
                    //newItem.cat = obj.id;
                    newItem.ClublandCategoryName = obj.id;
                    //
                    //newItem.childs = [];
                    newItem.CategoryItems = [];
                    // ClublandCategoryName
                    // foreach item in category
                    $(obj).children('.home-dnd-item').each(function (i, o) {

                        var child = new Object();
                        //child.name = o.innerText;
                        child.ItemDescription = o.innerText;
                        if (o.innerText) {

                            if (o.attributes["data-added"].nodeValue == 1) {
                                //child.added = 1;
                                child.Status = 1
                            }
                            else {
                                //child.added = 0;
                                child.Status = 0;
                                //newItem.added = 0;
                            }

                            console.log(o.innerText);

                            //newItem.childs.push(o.innerText);
                            //newItem.childs.push(child);
                            newItem.CategoryItems.push(child);


                        }
                       

                    });
                    //if (newItem.childs.length > 0)
                        if (newItem.CategoryItems.length > 0) {
                            arr.push(newItem);
                        }
                       

                });
                json = JSON.stringify(arr);
                //json2 = $.toJSON(arr);
                var childs = arr.childs;

                var unArr = [...new Set(childs)];

                console.log(json);
            });

            // TO JSON END
            $('#postjson').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/newPost",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: json,
                    //success: function (data) { alert(data); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            });
            // jquery fileupload test start
            $('#fileupload').fileupload({
                add: function (e, data) {
                    $('.box').jmspinner('large');
                    $('#filename').text(data.files[0].name);
                    var jqXHR = data.submit();
                },
                //dataType: 'xml',
                //progress: function (e, data) {

                //    // Calculate the completion percentage of the upload
                //    var progress = parseInt(data.loaded / data.total * 100, 10);
                    

                //    // Update the hidden input field and trigger a change
                //    // so that the jQuery knob plugin knows to update the dial
                //    //data.context.find('input').val(progress).change();

                //    if (progress == 100) {
                        
                //        //data.context.removeClass('working');
                //    }
                //},

                fail: function (e, data) {
                    alert(data.innerText);
                    // Something has gone wrong!
                    //data.context.addClass('error');
                },
                done: function (e, data) {

                    


                    $('.box').jmspinner(false);
                    $(data.result).find('transactions').each(function () {
                        var nisse = 0;
                        productCounter++;
                        var itemDesc = $(this).find('itemDesc').text();
                        //$("#temp").append('<li>' + $(this).text() + '</li>');
                        if (itemDesc) {
                            $('.listcat').append('<div class="home-dnd-item product" data-added="0">' + itemDesc + '</div>');
                        }
                        
                    });
                    $('#productcount').text('Antal produkter: ' + productCounter);
                    // DRAGGABLE START
                    var $ph, axisY;

                    $('.home-dnd-item').hqyDraggable({
                        proxy: 'clone',
                        onStartDrag: function (event, target) {

                            $(target).width($(this).width());

                            $ph = $(this).clone();
                            $ph.addClass('op2');
                            $(this).hide().before($ph);
                        },
                        onStopDrag: function () {
                            $ph.after(this);
                            $ph.remove();
                            $ph = null;
                            $(this).show();
                        }
                    });

                    $('.home-dnd-item').hqyDroppable({
                        onDragEnter: function () {
                            axisY = 0;
                        },
                        onDragOver: function (event, target) {
                            if (event.data.top > axisY) {
                                $(this).after($ph);
                            } else {
                                $(this).before($ph);
                            }

                            axisY = event.data.top;
                        }
                    });
                    //$('.list').hqyDroppable({

                    //    onDrop: function (event, target) {
                    //        var x = 1;
                    //        console.log('onStartDrag');
                    //    },
                    //    onDragEnter: function (event, target) {
                    //        var y = 1;
                    //        console.log('onStartDrag');
                    //    }



                    //});
                    $('.home-dnd .list').hqyDroppable({
                        onDragEnter: function (event, target) {

                            var $filter = $(this).find('.home-dnd-item:visible').filter(function () {
                                return this !== target;
                            });

                            if ($filter.length <= 0) {
                                $(this).append($ph);
                            }
                        },
                        onDrop: function (event, target) {
                            console.log('Moved ' + target.innerText + ' to ' + this.id);

                            var currentList = $(this);

                            if (this.id == 'categorylist' && $(target).attr('data-added') == 1)
                                alert('categorylist! and added!!!');

                            // loop alla produkter i catlist för att hitta element med samma innerText och flytta dom till denna kategori
                            $(target.parentElement).children('.home-dnd-item').each(function (i, o) {
                                //console.log(o.innerText);
                                if (o.innerText === target.innerText) {
                                    var elem = $(o);
                                    //elem.data('data-added', 1);
                                    // set attribute data-added to 1 so that we know that this item is added since last run
                                    elem.attr('data-added', 1);
                                    currentList.append(elem);
                                    //alert('hittad' + target.innerText);
                                }
                                //$(".home-dnd-item:not(:first)").remove();
                            });

                            
                            // loop alla produkter i catlist för att hitta element med samma innerText och flytta dom till denna kategori
                            //t.parentElement('.home-dnd-item').each(function (i,o) {

                            //    if (this.innerText === target.innerText) {
                            //        alert('hittad' + target.innerText);
                            //    }
                            //})
                        }
                        //$('.home-dnd-item').not(':last')​.remove();​​​​​​​​​​​​​
                    });
                   
                    // stop spinner

                    $('.box').jmspinner(false);
                        // DRAGGABLE END
                    // REARRANGE ITEM ACCORDING TO MASTERLIST START
                    var icamasterlist = $("#icamasterlist").text();
                    var obj = JSON.parse(icamasterlist);
                    $.each(obj, function (i, o) {
                        //var clublandCategory = '#' + o.cat;
                        var clublandCategory = '#' + o.ClublandCategoryName;

                       
                        $.each(o.CategoryItems, function (iz, oz) {
                            var foundDivs = $('div.home-dnd-item:contains(' + oz.ItemDescription + ')');
                            $(clublandCategory).append(foundDivs);
                        });
                    });



                    // REARRANGE ITEMS ACCORDING TO MASTERLIST END


                } // Done end
               
            });


            // jquery fileupload end
        });
    </script>

}